@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --dark-text: #e8e9ea;
}

.player-card-bg {
  background-image: url('/front-end-sorteio/src/constants/icons/sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-bg {
  color: var(--primary-text);
}

.custom-text {
  color: var(--primary-text);
}

.dark .custom-bg {
  color: var(--dark-text);
}

.dark .custom-text {
  color: var(--dark-text);
}
.custom-gap-responsive {
  gap: 1.5rem;
}

custom-gap-responsive > .text-container {
  margin-right: 1.5rem; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
  
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(220, 38, 38, 0.5);
  border-radius: 3px;
}