@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-text: #101828;
  --dark-text: #e8e9ea;
}

.player-card-bg {
  background-image: url('/front-end-sorteio/src/constants/icons/sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-bg {
  color: var(--primary-text);
}

.custom-text {
  color: var(--primary-text);
}

.dark .custom-bg {
  color: var(--dark-text);
}

.dark .custom-text {
  color: var(--dark-text);
}

@media screen and (min-width: 1024px) and (max-width: 1357.98px) {
  .custom-gap-responsive {
    gap: 1.5rem; /* Ajuste o valor conforme necessário */
  }
  
  /* Se precisar ajustar apenas o gap entre elementos específicos */
  .custom-gap-responsive > .text-container {
    margin-right: 1.5rem; /* Exemplo alternativo */
  }
}